.cadastro {
  margin: 50px;
}
.show-object-container {
  display: flex;
}
.show-object-text {
  width: 40%;
  padding: 20px;
  float: left;
}
.show-object-image {
  width: 60%;
  padding: 20px;
  float: right;
  text-align: center;
  position: relative;
}
.show-object-item {
  margin: 20px;
}
.show-object-item-primary {
  color: black;
}
.show-object-item-secondary {
  color: grey;
}
.object-image {
  max-width: 80%;
  max-height: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
#object-name-title {
  margin: 20px 20px 40px 20px;
}

.add-img-area {
  text-align: center;
  margin-bottom: 50px;
}

.add-img-container-without-img {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  min-height: 300px;
  text-align: center;
  margin: auto;
  color: #aaa;
  background-color: #ccc;
  background-repeat: space;
  background-size: auto;
  border-radius: 10px;
}

.add-img-container-with-img {
  /* position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 300px;
  text-align: center;
  margin: auto;
  color: #aaa;
  background-color: #ccc;
  background-repeat: space;
  background-size: auto;
  border-radius: 10px; */
  position: relative;
  display: inline-block;
}

#add-img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
}

#add-img-button {
  position: absolute;
  right: 15%;
  bottom: -28px;
}

#add-img-text {
  margin: 0;
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 30%;
  right: 30%;
}

#filter-button {
  position: fixed;
  bottom: 30px;
  right: 40px;
}

#filter-dialog {
  width: 60%;
}

.filter-row {
  display: flex;
}

.filter-label {
  flex: 1;
}

.filter-field {
  flex: 3;
}

#filter-name-fields,
#filter-local-fields,
#filter-date-fields,
#filter-state-fields,
#filter-depto-fields {
  display: none;
}

#id-search-input::placeholder {
  color: rgba(255,255,255,.70);
}

#card-container {
  display: flex;
}

.demo-card-square.mdl-card {
  margin: 20px;
  width: 300px;
  height: 250px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}

#card-1 > .mdl-card__title {
  background: bottom right 15% no-repeat rgb(97, 84, 206);
}

#card-2 > .mdl-card__title {
  background: bottom right 15% no-repeat #46B6AC;
}

#card-3 > .mdl-card__title {
  background: bottom right 15% no-repeat rgb(190, 247, 115);
}

.container { 
  height: 100%;
  position: relative; 
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

#div-load-more-button {
  padding: 10px;
  text-align: -webkit-center;
}

@media (max-width: 600px) {
  .show-object-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .show-object-image {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .show-object-text {
    width: initial;
  }
  .object-image {
    position: initial;
    top: initial;
    left: initial;
    margin-right: initial;
    transform: initial;
    max-width: 100%;
    max-height: 90%;
    border-radius: 0px;
  }

  #card-container {
    display: block;
  }

  #card-1, #card-2, #card-3 {
    width: 100%;
    margin: 0;
  }
}
